[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "chronicler"]
	path = chronicler
	url = https://github.com/b-rodrigues/chronicler
[submodule "michelRodange"]
	path = michelRodange
	url = https://github.com/b-rodrigues/michelrodange
