[submodule ".registry"]
	path = .registry
	url = https://github.com/b-rodrigues/b-rodrigues.r-universe.dev
	branch = HEAD
[submodule "chronicler"]
	path = chronicler
	url = https://github.com/b-rodrigues/chronicler
[submodule "michelRodange"]
	path = michelRodange
	url = https://github.com/b-rodrigues/michelRodange
[submodule "rix"]
	path = rix
	url = https://github.com/ropensci/rix
[submodule "rixpress"]
	path = rixpress
	url = https://github.com/ropensci/rixpress
